.products-list .card {
    padding: 10px;
    box-sizing: border-box;
}

.products-list .card .card__img {
    width: auto;
    max-height: 250px;
    display: block;
    margin: 0 auto;
}

.card {
    display: inline-block !important;
    margin: 0 20px 20px 0;
}

form {
    max-width: 500px;
    padding: 10px 0;
}